*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    display: flex;            /* item ko kisi bhi direction mein move kar sakte hai display flex karne ke baad */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(bg4.png) no-repeat;
    background-size: cover;
}

.clock{
    color:black;
    width: 100%;
    /* max-width: 45%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    -webkit-text-stroke:0.5px;
    -webkit-text-stroke-color: white;
    /* box-shadow: 0px 12px 10px rgba(0, 174, 255, 0.1); */
}


.clock h1
{
    font-size: 8rem;
    font-weight: 600;
    border-radius: 5px;
    text-shadow: 0px 0px 20px #fbff00 ;
}

.clock span
{
    position: relative;
    margin-left: 30px;
    font-size: 3rem;
    font-weight: 700;
    padding: 10px;
    background: transparent;
    text-shadow: 0px 0px 38px #ff9d00;
    border-color: white;
    border-radius: 10px;
}

.clock:hover
{
    animation: animateBg 15s linear infinite;
}

@keyframes animateBg {
  100%
  {
    filter: hue-rotate(360deg);
  }
}


@media (max-width: 1500px)
{
  .clock h1
  {
    font-size: 5rem;
  }
}

@media (max-width: 1226px)
{
  .clock
  {
    margin-left: 50%;
  }

  .clock h1
  {
    font-size: 4rem;
  }

}

@media (max-width:994px)
{
    body
    {
      background-color: black;
      background-position-y: bottom;
      background-position-x: 19rem;
      background-size: 60rem;
    }

    .clock
    {
      margin-bottom: 32rem;
      margin-left: 10px;
      width:50rem;
    }

    .clock h1
    {
      font-size:6rem;
    }
    
    .clock span
    {
      font-size: 3rem;
    }
}

@media (max-width: 935px)
{

  body
  {
    background-color: black;
    background-position-x: 15rem;
  }

  .clock
  {
    margin-left: center;
  }

  .clock h1
  {
    font-size: 5rem;
  }

  .clock span
  {
    font-size: 2rem;
    margin-left:20px;
  }
}


@media (max-width: 810px)
{

  body
  {
    background-color: black;
    background-position-x: 13rem;
  }

  .clock
  {
    margin-left: center;
  }

  .clock h1
  {
    font-size: 5rem;
  }

  .clock span
  {
    font-size: 2rem;
    margin-left:20px;
  }
}

@media (max-width: 780px)
{

  body
  {
    background-color: black;
    background-position-x: 10rem;
  }
   
}

@media (max-width: 660px)
{

  body
  {
    background-color: black;
    background-position-x: 8rem;
  }
   
}

@media (max-width: 572px)
{

  body
  {
    background-color: black;
    background-position-x: 6rem;
  }
   
}

@media (max-width: 530px)
{

  body
  {
    background-color: black;
    background-position-x: 4rem;
  }

  .clock
  {
    margin-left: center;
  }

  .clock h1
  {
    font-size: 4rem;
  }

  .clock span
  {
    font-size: 1.8rem;
  }
   
}

@media (max-width:485px)
{
  body
  {
    background-color: black;
    background-position-x: 2rem;
  }

  .clock
  {
    margin-left: center;
  }

  .clock h1
  {
    font-size: 4rem;
  }

  .clock span
  {
    font-size: 1.5rem;
  }

}

@media(max-width:455px)
{
  body
  {
    background-color: black;
    background-position-x: -2px;
  }

  
}

@media (max-width:413px)
{
  body
  {
    background-color: black;
    background-position-y: bottom;
    background-position-x: -10px;
    background-size: 60rem;
  }

  .clock
  {
    margin-bottom: 32rem;
    margin-left: 10px;
    width: 80rem;
  }

  .clock h1
  {
    font-size:3.5rem;
  }

}

@media(max-width:375px)
{
  body
  {
    background-color: black;
    background-position-y: bottom;
    background-position-x: -10px;
    background-size: 58rem;
  }

  .clock
  {
    margin-bottom: 32rem;
    margin-left: 10px;
    width: 80rem;
  }

  .clock h1
  {
    font-size:3.2rem;
  }
} 


@media (max-width:364px)
{
  body
  {
    background-color: black;
    background-position-y: bottom;
    background-position-x: -20px;
    background-size: 58rem;
  }

  .clock
  {
    margin-bottom: 32rem;
    margin-left: 10px;
    width: 80rem;
  }

  .clock h1
  {
    font-size:3rem;
  }

}

@media (max-width:339px)
{
  body
  {
    background-color: black;
    background-position-y: bottom;
    background-position-x: -35px;
    background-size: 60rem;
  }

  .clock
  {
    margin-bottom: 32rem;
    margin-left: 10px;
    width:50rem;
  }

  .clock h1
  {
    font-size:2.5rem;
  }

}


@media (max-width:301px)
{
  body
  {
    background-color: black;
    background-position-y: bottom;
    background-position-x: -50px;
    background-size: 60rem;
  }

  .clock
  {
    margin-bottom: 32rem;
    margin-left: 10px;
    width:50rem;
  }

  .clock h1
  {
    font-size:2.5rem;
  }
  
  .clock span
  {
    margin-left: 3px;
    font-size: 1.2rem;
  }

}

@media (max-width:265px)
{
  body
  {
    background-color: black;
    background-position-x: -70px;
    background-size: 60rem;
  }

  .clock
  {
    margin-bottom: 32rem;
    margin-left: 10px;
    width:52rem;
  }

  .clock h1
  {
    font-size:2.2rem;
  }

  .clock span
  {
    margin-left: 2px;
    font-size: 1.1rem ;
  }
}